.idea
DATA_COLLECTION/data_collector/src/main/resources/.env
DOCKER/.env
/DATA_COLLECTION/data_collector/target/
/DOCKER/.env-mongo-express
/DOCKER/.env-mongo
backend/src/main/resources/.env
backend/.mvn
backend/target
